<doctype html>
<html>
    <head>
        {{> head }}
    </head>
    <body>
        <div class="body">
            <h1 id="text1">{{ content.text1 }}</h1>
            <p>{{ content.text2 }}</p>
        </div>
    </body>
</html>